// HERO SECTION
.hero-section {
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 5rem;
}

.hero-txt {
    width: 40%;
    margin: 4rem;
}

.img-container {
    width: 60%;
    height: 100%;
    background-image: url('../images/bg-intro-desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 200% 50%;
}

.hero-img {
    position: absolute;
    width: auto;
    height: 110%;
    align-self: flex-end;
    margin-bottom: -4rem;
    margin-top: -6rem;
    right: 0;
}

// CTA
.cta{

    &-container {
    padding: 8rem;
    background-color: $light-grayish-blue;
    }

    &-img .icon {
        width: 20%;
    }

}

// ARTICLE
.article {
    padding: 4rem;
    background-color: $very-light-gray;

    &-item {
        // max-height: 60vh;
        max-height: max-content;
        background-color: $white;
        padding-bottom: 2rem;
        border-radius: 1rem 1rem 0 0;
        box-shadow: 0 0 .01rem .01rem hsl(0, 0%, 0%);
    }
    
    &-img {
        height: 50%;
        width: 100%;
        margin-bottom: 2rem;
        
        .img {
            border-radius: .5rem .5rem 0 0;
            width: 100%;
            height: 100%;
        }
    }

    &-link {
        font-size: 1.4rem;
        color: $grayish-blue;
    }

    &-txt {
        padding: 0 2rem;
    }

    &-heading {
        margin-top: 1rem;
        line-height: 1;
        font-size: 1.8rem;
        font-weight: 300;
    }
}